<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="On this personal website you can follow Andi's great adventures! Topics include, but are not limited to: Hardware, Embedded Programming, Rust">
    <title>andi makes stuff</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <style>
        :root {
            --text-1: #fff;
            --text-2: #b9b9b9;
            --primary: #37cbff;
            --secondary: #1456b0;
            --card: #2C2C2C;
            --shadow: #01010133;
            --background: #333333;
        }

        ul {
            list-style: '- 'inside;
            padding: 0;
            margin: 0;
        }

        a {
            text-decoration: none;
            color: var(--primary);
            border-radius: 5px;
            padding: 0px 0.25em;
            transition: color 500ms, background-color 500ms;
        }

        .accent {
            color: var(--primary);
        }

        nav {
            justify-content: center;
            padding-top: 0.5em;
            display: grid;
            grid-template-columns: repeat(3, max-content);
            gap: 5px;
            line-height: 1em;
        }

        nav a {
            padding: 5px;
            padding: 5px;
            color: var(--text-2);
        }

        nav a svg {
            display: inline-block;
            width: 1em;
            height: 1em;
            vertical-align: -12.5%;
            padding-right: 2px;
            padding-left: 2px;
            fill: var(--text-2);
            transition: fill 500ms;
        }

        h1, h2 {
            font-family: 'Lato', sans-serif;
            margin: 0;
            font-size: 100%;
        }

        h1 {
            font-size: xx-large;
        }

        h2 {
            font-size: x-large;
        }

        #projects {
            color: var(--text-2);
            font-weight: bold;
            background-color: var(--card);
            padding: 15px 5px 15px 5px;
            line-height: 1.25;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 1px var(--shadow);
        }

        #projects h2 {
            color: var(--text-1);
            padding-bottom: 5px;
        }

        #projects a {
            font-weight: normal;
        }

        body {
            margin: 15px;
            background-color: var(--background);
            color: #fff;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
        }

        header {
            display: block;
            text-align: center;
            padding: 15px 5px 15px 5px;
            background-color: var(--card);
            border-radius: 5px;
            box-shadow: 2px 2px 2px 1px var(--shadow);
        }

        #description {
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
            color: var(--text-2);
            font-style: italic;
        }

        footer {
            color: var(--text-2);
            font-size: small;
            background-color: var(--card);
            font-style: italic;
            padding: 15px 0px;
            text-align: center;
            border-radius: 5px;
            box-shadow: 2px 2px 2px 1px var(--shadow);
        }

        hr {
            border: none;
            height: 2px;
            border-radius: 2px;
            background-color: var(--card);
        }
    </style>
    <link rel="preload" href="static/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="static/style.css">
    </noscript>
    <link rel="shortcut icon" href="static/favicon.png">
</head>

<body>
    <header>
        <h1><a href="">andi-makes.dev</a></h1>
        <p id="description">{{ description }}</p>
        <nav>
            {{#each nav_links}}
                <a href="{{ link }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" width="16" height="16" viewBox="0 0 16 16">
                        {{{ svg }}}
                    </svg>
                    {{ name }}
                </a>
            {{/each}}
        </nav>
    </header>
    <hr>
    <section id="projects">
        <h2>Projects</h2>
        <ul>
            {{#each projects}}
                <li><a href="{{link}}">{{name}}</a> - {{description}}</li>
            {{/each}}
        </ul>
    </section>
    <hr>
    <footer>
        &#169; Andreas Kohler 2021
    </footer>
</body>

</html>